.reset-button {
    height: 50px;
    width: 108.97px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    right: 1rem;
}

.restart-button {
    height: 100%;
}

.start-button {
    position: absolute;
    height: 50px;
    bottom: 6em;
    right: 4.5em;
}