.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: blue;
    overflow: hidden;
}

.content-wrapper {
    float: right;
    width: 100%;
}

.content {
    position: relative;
    left: 15rem;
    height: 100vh;
    width: 85%;
    clear: both;
    overflow: hidden;
}

.adapted {
    left : 0 !important;
    width: 100% !important;
}

.container-wrapper {
    background-color: blue;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}