.sidebar-container {
    height: 100vh;
    width: 15rem;
    background-color: red;
    position: relative;
    float: left;
    margin-right: -15rem;
    display: block;
}

.sandwich-menu-button {
    background-color: violet;
    position: fixed;
    height: 50px;
    width: 100px;
    left: 1rem;
    top: 1rem;
    z-index: 1000;
}

.hidden {
    display: none;
}

.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adicione uma cor de fundo ou sombreamento */
    z-index: 999; /* Certifique-se de que este elemento esteja acima dos outros */
    display: flex;
    align-items: center;
    justify-content: center;
  }

h5 {
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid salmon;
}

.header {
    border: 1px solid yellowgreen;
    width: 100%;
    height: 2em;
    padding-top: 1em;
    text-align: center;
}

.header-obs {
    border: 1px solid darkslateblue;
    width: 100%;
    height: 3em;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.sidebar-guessed-color {
    border: 1px solid white;
    width: 80.6px;
    height: 47px;
}

.sidebar-correct-color {
    border: 1px solid white;
    width: 80.6px;
    height: 47px;
}

.sidebar-score {
    border: 1px solid white;
    width: 80.6px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    
}