.sidebar-container {
    height: 100vh;
    width: 15rem;
    background-color: red;
    position: relative;
    float: left;
    margin-right: -15rem;
    display: block;
}

.sandwich-menu-button {
    background-color: violet;
    position: fixed;
    height: 50px;
    width: 100px;
    left: 1rem;
    top: 1rem;
    z-index: 1000;
}

.hidden {
    display: none;

}

.visible {
    
}

.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adicione uma cor de fundo ou sombreamento */
    z-index: 999; /* Certifique-se de que este elemento esteja acima dos outros */
    display: flex;
    align-items: center;
    justify-content: center;
  }

h6 {
    margin: 0;
}