.sidebar-container {
    height: 100vh;
    width: 15rem;
    background-color: #ECEFF5;
    position: relative;
    float: left;
    margin-right: -15rem;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.sandwich-menu-button {
    /* background-color: violet; */
    position: fixed;
    height: 50px;
    width: 100px;
    left: 1rem;
    top: 1rem;
    z-index: 1000;
}

.hidden {
    display: none;
}

h5 {
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid white;
}

.header {
    border: 1px solid white;
    width: 100%;
    height: 2em;
    padding-top: 1em;
    text-align: center;
}

.header-obs {
    /* border: 1px solid darkslateblue; */
    width: 100%;
    height: 3em;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.sidebar-guessed-color {
    border: 1px solid white;
    width: 33.3%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-correct-color {
    border: 1px solid white;
    width: 33.3%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-score {
    border: 1px solid white;
    width: 33.3%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.correct-answer {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    height: 3em;
}

.wrong-answer {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    height: 3em;
}

.color-correct-answer-container {
    /* border: 1px solid white; */
    width: 33.3%;
    height: 100%;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-wrong-answer-container {
    /* border: 1px solid white; */
    width: 33.3%;
    height: 100%;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-correct-answer-container-wide {
    /* border: 1px solid white; */
    width: 70%;
    height: 100%;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-correct-answer {
    border-radius: 5px;
    padding: 5px;
}

.color-correct-answer-wide {
    border-radius: 5px;
    padding: 5px 40px;
}

.color-wrong-answer {
    border-radius: 5px;
    padding: 5px;
}

.score-answer {
    /* border: 1px solid white; */
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.overlay-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo escura com transparência */
    z-index: 999; /* Certifique-se de que este elemento esteja acima dos outros */
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.header-container-overlay {
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.background-even {
    background-color: #DBDFE6;
}

.dark-text {
    color: black;
}

.light-text {
    color: white;
}