.selectedcolor-container {
    position: relative;
}

.color-square {
    position: relative;
    min-width: 15em;
    min-height: 15em;
    background-color: red;
}

.start-color-square {
    opacity: 0.5;
}

.hidden {
    display: none;
}